import { createApi, fetchBaseQuery } from "@reduxjs/toolkit/query/react";

export const <%= name.camelize(:lower) %>Api = createApi({
  reducerPath: "<%= name.camelize(:lower) %>Api",
  baseQuery: fetchBaseQuery({ baseUrl: "<%= options[:baseUrl] || "http://localhost:3000/api/" %>" }),
  tagTypes: [
  ],

  endpoints: (builder) => ({
  }),
});

export const {
} = <%= name.camelize(:lower).pluralize %>Api;
