    // <%= @options[:method] && 'GET' %> /<%= @options[:url] %>
    <%= name.camelize(:lower) %>: builder.mutation({
      query: (data) => ({
        <%- if @options[:url] -%> url: `<%= @options[:url] %>`, <%- end -%>
        <%- if @options[:method] -%> method: '<%= @options[:method] %>', <%- end -%>
        body: data,
      }),
      <%- if @options[:tags] -%>
      invalidatesTags: [
        <%- tags_list = @options[:tags].split(' ') -%>
        <%- @options[:tags].each do |element| -%>
          { type: '<%= element.split(':')[0] %>'<%- if element.split(':')[1] -%>, id: '<%= element.split(':')[1] %>'<%- end -%> }
        <%- end -%>
      ]
      <%- end -%>
    }),
