import React from "react";
import { Form, Input, Button, Spin } from "antd";
import { useForm } from "antd/lib/form/Form";
import { use<%= name.pluralize.camelize %>CreateMutation } from "../services/<%= options[:apiName] %>";

const <%= name.pluralize.camelize %>Create = () => {
  const [<%= name.pluralize.camelize(:lower) %>Create, { isLoading }] = use<%= name.pluralize.camelize %>CreateMutation();

  const [form] = useForm();

  const layout = {
    labelCol: { span: 4 },
    wrapperCol: { span: 20 },
  };

  const tailLayout = {
    wrapperCol: { offset: 4, span: 20 },
  };

  const onFinish = (values) => {
    <%= name.pluralize.camelize(:lower) %>Create({ <%= name.tableize.singularize %>: values })
    form.resetFields();
  };

  return (
    <Spin spinning={isLoading}>
      <Form {...layout} form={form} onFinish={onFinish} name="<%= name.tableize %>_create">

      <%- @args.each do |field| -%>
        <%- field_name = field.split(":")[0] -%>
        <Form.Item label="<%= field_name.humanize %>" name="<%= field_name %>">
          <Input />
        </Form.Item>
      <%- end -%>

        <Form.Item {...tailLayout}>
          <Button type="primary" htmlType="submit">
            Create
          </Button>
        </Form.Item>

      </Form>
    </Spin>
  );
};

export default <%= name.pluralize.camelize %>Create;
