import React from "react";
import { Button } from "antd";
import { DeleteFilled } from "@ant-design/icons";
import { use<%= name.pluralize.camelize %>DestroyMutation } from "../services/<%= options[:apiName] %>";

const <%= name.pluralize.camelize %>Destroy = ({ id }) => {
  const [<%= name.pluralize.camelize(:lower) %>Destroy, { isLoading }] = use<%= name.pluralize.camelize %>DestroyMutation();

  return (
    <Button
      danger
      type="primary"
      shape="circle"
      onClick={() => <%= name.pluralize.camelize(:lower) %>Destroy(id) }
      icon={<DeleteFilled />}
      loading={isLoading}
    />
  );
};

export default <%= name.pluralize.camelize %>Destroy;

