import React from "react";
import { Table, Spin } from "antd";
import { use<%= name.pluralize.camelize %>IndexQuery } from "../services/<%= options[:apiName] %>";

const <%= name.pluralize.camelize %>Index = () => {
  const { data, error, isFetching } = use<%= name.pluralize.camelize %>IndexQuery();

  const columns = [
    <%- @args.each do |field| -%>
      <%- field_name = field.split(":")[0] -%>
      {
        title: "<%= field_name.humanize %>",
        dataIndex: "<%= field_name %>",
        key: "<%= field_name %>",
      },
    <%- end -%>
  ];

  return (
    <Spin spinning={isFetching}>
      <Table
        dataSource={data}
        columns={columns}
        rowKey="<%= @args&.at(0)&.split(":")&.at(0) %>"
      />
    </Spin>
  );
};

export default <%= name.pluralize.camelize %>Index;
