import React from "react";
import { Descriptions, Spin } from "antd";
import { use<%= name.pluralize.camelize %>ShowQuery } from "../services/<%= options[:apiName] %>";

const <%= name.pluralize.camelize %>Show = ({ id }) => {
  const { data, error, isFetching } = use<%= name.pluralize.camelize %>ShowQuery(id);

  return (
    <Spin spinning={isFetching}>
      <Descriptions title="<%= @name.singularize.humanize %>">
      <%- @args.each do |field| -%>
        <%- field_name = field.split(":")[0] -%>
        <Descriptions.Item label="<%= field_name.humanize %>">{ data && data["<%= field_name %>"] }</Descriptions.Item>
      <%- end -%>
      </Descriptions>
    </Spin>
  );
};

export default <%= name.pluralize.camelize %>Show;
