import React, { useEffect } from "react";
import { Form, Input, Button, Spin } from "antd";
import { useForm } from "antd/lib/form/Form";
import { use<%= name.pluralize.camelize %>ShowQuery } from "../services/<%= options[:apiName] %>";
import { use<%= name.pluralize.camelize %>UpdateMutation } from "../services/<%= options[:apiName] %>";

const <%= name.pluralize.camelize %>Update = ({ id }) => {
  const { data, error, isFetching } = use<%= name.pluralize.camelize %>ShowQuery(id);
  const [<%= name.pluralize.camelize(:lower) %>Update, { isLoading }] = use<%= name.pluralize.camelize %>UpdateMutation();

  const [form] = useForm();

  const layout = {
    labelCol: { span: 4 },
    wrapperCol: { span: 20 },
  };

  const tailLayout = {
    wrapperCol: { offset: 4, span: 20 },
  };

  const onFinish = (values) => {
    <%= name.pluralize.camelize(:lower) %>Update({ id, <%= name.tableize.singularize %>: values });
  };

  useEffect(() => form.resetFields(), [data]);

  return (
    <Spin spinning={isFetching || isLoading}>
      <Form {...layout} form={form} initialValues={data} onFinish={onFinish}>

      <%- @args.each do |field| -%>
        <%- field_name = field.split(":")[0] -%>
        <Form.Item label="<%= field_name.humanize %>" name="<%= field_name %>">
          <Input />
        </Form.Item>
      <%- end -%>

        <Form.Item {...tailLayout}>
          <Button type="primary" htmlType="submit" disabled={isLoading}>
            Update
          </Button>
        </Form.Item>

      </Form>
    </Spin>
  );
};

export default <%= name.pluralize.camelize %>Update;
