<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Welcome to Your React Application!</title>
    <%= javascript_pack_tag 'index' %>
  </head>
  <body>
  </body>
</html>
