
    // GET /<%= name.underscore.pluralize %>
    <%= name.camelize(:lower).pluralize %>Index: builder.query({
      query: () => `<%= name.underscore.pluralize %>`,
      providesTags: [{ type: '<%= name.camelize.singularize %>' }]
      providesTags: (result, error, arg) =>
        result
          ? [...result.map(({ id }) => ({ type: '<%= name.camelize.singularize %>', id })), '<%= name.camelize.singularize %>']
          : ['<%= name.camelize.singularize %>']

    }),
    // GET /<%= name.underscore.pluralize %>/1
    <%= name.camelize(:lower).pluralize %>Show: builder.query({
      query: (id) => `<%= name.underscore.pluralize %>/${id}`,
      providesTags: (result, error, arg) => 
        result 
          ? [{ type: '<%= name.camelize.singularize %>', id: result.id }]
          : ['<%= name.camelize.singularize %>']
    }),
    // POST /<%= name.underscore.pluralize %>
    <%= name.camelize(:lower).pluralize %>Create: builder.mutation({
      query: (data) => ({
        url: `<%= name.underscore.pluralize %>`,
        method: 'POST',
        body: data,
      }),
      invalidatesTags: [{ type: '<%= name.camelize.singularize %>' }]
    }),
    // PATCH /<%= name.underscore.pluralize %>/1
    <%= name.camelize(:lower).pluralize %>Update: builder.mutation({
      query: ({ id, coffee }) => ({
        url: `<%= name.underscore.pluralize %>/${id}`,
        method: "PATCH",
        body: coffee,
      }),
      invalidatesTags: (result, error, arg) => [{ type: '<%= name.camelize.singularize %>', id: arg.id }]
    }),
    // DELETE /<%= name.underscore.pluralize %>/1
    <%= name.camelize(:lower).pluralize %>Destroy: builder.mutation({
      query: (id) => ({
        url: `<%= name.underscore.pluralize %>/${id}`,
        method: "DELETE",
      }),
      invalidatesTags: (result, error, arg) => [{type: '<%= name.camelize.singularize %>'}, { type: '<%= name.camelize.singularize %>', id: arg.id }]
    }),

