
  use<%=name.camelize.pluralize%>IndexQuery,
  use<%=name.camelize.pluralize%>ShowQuery,
  use<%=name.camelize.pluralize%>CreateMutation,
  use<%=name.camelize.pluralize%>UpdateMutation,
  use<%=name.camelize.pluralize%>DestroyMutation,
